body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#canvas {
    border-radius: 5px;
}

#score {
    margin: 100px 0;
    font-size: 50px;
    color: #ececec;
}

#recommencer {
    margin-top: 50px;
    color: #ececec;
    font-size: 30px;
    opacity: 0;
}